process.$minced.container = 'quay.io/biocontainers/minced:0.4.2--0'
process.$combine.container = 'continuumio/miniconda3:4.7.12'
process.$virsorterdb.container = 'continuumio/miniconda3:4.7.12'
process.$virsorter.container= 'simroux/virsorter:v1.0.5'

// process.maxForks = 40

docker {
    enabled = true
}
